In [92]:
import pandas as pd
from sklearn.metrics import mean_squared_error, r2_score
scores = "team_boxscore_stats_1997-19.csv"

In [93]:
scores_df = pd.read_csv(scores)
scores_df['WL'] = scores_df['WL'].map({'W': 1, 'L': 0})
scores_df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS
0,21997,1610612763,VAN,Vancouver Grizzlies,29700014,10/31/1997,VAN vs. DAL,0.0,240,36,...,24,20,44,25,7,4,16,27,88,-2
1,21997,1610612742,DAL,Dallas Mavericks,29700014,10/31/1997,DAL @ VAN,1.0,240,32,...,10,27,37,18,5,8,18,21,90,2
2,21997,1610612741,CHI,Chicago Bulls,29700001,10/31/1997,CHI @ BOS,0.0,240,33,...,16,25,41,16,12,6,21,22,85,-7
3,21997,1610612738,BOS,Boston Celtics,29700001,10/31/1997,BOS vs. CHI,1.0,240,38,...,22,30,52,18,10,5,24,30,92,7
4,21997,1610612766,CHH,Charlotte Hornets,29700006,10/31/1997,CHH vs. NYK,0.0,240,26,...,13,29,42,16,4,2,18,32,85,-12

In [94]:
df_2018 =scores_df[49678:]
df_2018.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS,PLUS_MINUS
49678,22018,1610612755,PHI,Philadelphia 76ers,21800001,10/16/2018,PHI @ BOS,0.0,240,34,...,6,41,47,18,8,5,16,20,87,-18
49679,22018,1610612738,BOS,Boston Celtics,21800001,10/16/2018,BOS vs. PHI,1.0,240,42,...,12,43,55,21,7,5,15,20,105,18
49680,22018,1610612744,GSW,Golden State Warriors,21800002,10/16/2018,GSW vs. OKC,1.0,240,42,...,17,41,58,28,7,7,21,29,108,8
49681,22018,1610612760,OKC,Oklahoma City Thunder,21800002,10/16/2018,OKC @ GSW,0.0,240,33,...,16,29,45,21,12,6,15,21,100,-8
49682,22018,1610612739,CLE,Cleveland Cavaliers,21800008,10/17/2018,CLE @ TOR,0.0,240,34,...,14,35,49,17,4,0,16,25,104,-12

In [95]:
ratings_2018 = '2019_team_stats.csv'

In [96]:
ratings_2018 = pd.read_csv(ratings_2018)
ratings_2018.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Offense Four Factors.1,Offense Four Factors.2,Offense Four Factors.3,Defense Four Factors,Defense Four Factors.1,Defense Four Factors.2,Defense Four Factors.3,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Rk,Team,Age,W,L,PW,PL,MOV,SOS,SRS,...,OTOV%,ORB%,OFT/FGA,DeFG%,DTOV%,DRB%,DFT/FGA,Arena,Attend.,Attend./G
1,1,Milwaukee Bucks*,26.9,60,22,61,21,8.87,-0.82,8.04,...,12,20.8,0.197,0.503,11.5,80.3,0.162,Fiserv Forum,721692,17602
2,2,Golden State Warriors*,28.4,57,25,56,26,6.46,-0.04,6.42,...,12.6,22.5,0.182,0.508,11.7,77.1,0.205,Oracle Arena,803436,19596
3,3,Toronto Raptors*,27.3,58,24,56,26,6.09,-0.6,5.49,...,12.4,21.9,0.198,0.509,13.1,77.1,0.19,Scotiabank Arena,812822,19825
4,4,Utah Jazz*,27.3,50,32,54,28,5.26,0.03,5.28,...,13.4,22.9,0.217,0.507,12.4,80.3,0.189,Vivint Smart Home Arena,750546,18306

In [97]:
ratings_2018 = ratings_2018.rename(columns=ratings_2018.iloc[0]).drop(ratings_2018.index[0])

In [98]:
merged_df = pd.merge(df_2018, ratings_2018, left_on='TEAM_NAME', right_on='Team')
merged_df.head()

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,FGM,...,OTOV%,ORB%,OFT/FGA,DeFG%,DTOV%,DRB%,DFT/FGA,Arena,Attend.,Attend./G
0,22018,1610612739,CLE,Cleveland Cavaliers,21800008,10/17/2018,CLE @ TOR,0.0,240,34,...,12.2,23.7,0.187,0.564,11.5,77,0.181,Quicken Loans Arena,793337,19350
1,22018,1610612739,CLE,Cleveland Cavaliers,21800021,10/19/2018,CLE @ MIN,0.0,240,45,...,12.2,23.7,0.187,0.564,11.5,77,0.181,Quicken Loans Arena,793337,19350
2,22018,1610612739,CLE,Cleveland Cavaliers,21800036,10/21/2018,CLE vs. ATL,0.0,240,46,...,12.2,23.7,0.187,0.564,11.5,77,0.181,Quicken Loans Arena,793337,19350
3,22018,1610612739,CLE,Cleveland Cavaliers,21800053,10/24/2018,CLE vs. BKN,0.0,240,34,...,12.2,23.7,0.187,0.564,11.5,77,0.181,Quicken Loans Arena,793337,19350
4,22018,1610612739,CLE,Cleveland Cavaliers,21800063,10/25/2018,CLE @ DET,0.0,240,41,...,12.2,23.7,0.187,0.564,11.5,77,0.181,Quicken Loans Arena,793337,19350

In [130]:
y = merged_df['WL'].dropna().values.reshape(-1,1)
x = merged_df[['OeFG%','OTOV%','ORB%','OFT/FGA','DeFG%','DTOV%','DRB%','DFT/FGA']].astype(float)

In [131]:
from sklearn.linear_model import LinearRegression, LogisticRegression
model = LogisticRegression()
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y)

model.fit(X_train,y_train)

C:\Users\jorda\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\jorda\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [132]:
trainz = model.score(X_train, y_train)
testz = model.score(X_test, y_test)
print(trainz,testz,trainz-testz)

0.629500580720093 0.6236933797909407 0.005807200929152212

In [24]:
#predicted = model.predict(X)